<nb-layout>
  <nb-layout-header fixed>
  <h3>Faces App</h3>
  </nb-layout-header>

  <nb-layout-column>

    <div class="container">

      <form [formGroup]="uploadForm" novalidate (ngSubmit)="upload()">
        <input type="file" (change)="onImageChange($event)"/>
        <button [nbSpinner]="processingImage" nbSpinnerStatus="warning" nbButton status="warning" type="submit" [disabled]="processingImage">
          <nb-icon icon="cloud-upload-outline"></nb-icon>
          Process Image
        </button>
      </form>
      
      <div class="images">
        <img [src]="imgSrc" *ngIf="imgSrc" >
        <!-- <img [src]="imgSrc" *ngIf="imgSrc"> -->
        <div *ngIf="name != null">
          {{this.name}}
        </div>
      </div>

    </div>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>